<a href="https://colab.research.google.com/github/kmj122/stats_2025/blob/main/4_dataframe_manipulation123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ğŸ”– Index operators loc[ ] & iloc[ ]**

**ì›ì†Œ ì„ íƒ**
* DataFrameObject.loc[rowí–‰ì¸ë±ìŠ¤, columnì—´ì´ë¦„]
* DataFrameObject.iloc[rowí–‰ë²ˆí˜¸, columnì—´ë²ˆí˜¸]

**ë²”ìœ„ ìŠ¬ë¼ì´ì‹± í™œìš©**

* DataFrameObject.iloc[ì‹œì‘ì¸ë±ìŠ¤:ëì¸ë±ìŠ¤:ìŠ¬ë¼ì´ì‹±ê°„ê²©]
* The first colon : indicates that we're selecting all rows.
* The second colon : indicates the step size, which is

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis']) #matrix í˜•íƒœë¡œ ë³€í™˜ì‹œí‚´. ë³€í™˜ì‹œí‚¤ëŠ” ë°©ë²•ì€ íŒë‹¤ìŠ¤ì—ì„œ ë°ì´í„° í”„ë ˆì„ í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©í•œë‹¤.
print(df)
print('\n')
df1=df.iloc[::2]  #í™€ìˆ˜ë¡œ ì´ë£¨ì–´ì§„ í–‰ì˜ ê²°ê³¼ë§Œ ë‚˜ì˜¤ê²Œ ë¨.
print(df1)
print('\n')
df2=df.iloc[:3]
print(df2)
print('\n')
df3=df.iloc[::-1]
print(df3)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Louis    85       79    100   88
Mary     70       95    100   90
Emma     80       89     95   90
Simon    90       98     85  100

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis']) #íŒë‹¤ìŠ¤ì—ì„œ ë°ì´í„°í”„ë ˆì„

print(df)
print('\n')
df1 = df.iloc [::2]
print(df1)
print('\n')
df2 = df.iloc[0:3]
print(df2)
print('\n')
df3 = df.iloc[::-1]
print(df3)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Louis    85       79    100   88
Mary     70       95    100   90
Emma     80       89     95   90
Simon    90       98     85  100

ì´ê·¸ì¼ ë°ì´í„°ë¼ê³  í•´ì„œ ê°ê°ì˜ ì¹¼ëŸ¼ ë°ì´í„°ë¥¼ ìš°ë¦¬ê°€ ë§Œë“¤ì—ˆë‹¤. ì¹¼ëŸ¼ ë°ì´í„°ë¥¼ ë§Œë“¦. ê·¸ ë‹¤ìŒì— ê·¸ ì¹¼ëŸ¼ì— ê°ê°ì˜ ì‚¬ëŒì´ë¦„ì„ ë¶™ì—¬ì£¼ê¸° ìœ„í•´ì„œ ì¸ë±ìŠ¤ ë„¤ì„ì„ ë¶™ì—¬ì¤¬ë‹¤.

In [ ]:
#@markdown  **ğŸ¹ Student Activity 8 of the previous class material-Extended2 â¤µï¸**

#@markdown  **Choose rows í–‰ ì„ íƒ**

#@markdown  **Index operator[ ] with integer location of the rows**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])    #ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•´ì„œ ë„¤ì„ì„ ë¶™ì—¬ì¤Œ.
print(df)
print('\n')

df1 = df.iloc[::2]
print(df1)
print('\n')

df2 = df.iloc[0:3]
print(df2)
print('\n')

df3 = df.iloc[::-1]
print(df3)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Louis    85       79    100   88
Mary     70       95    100   90
Emma     80       89     95   90
Simon    90       98     85  100

####<font color = 'blue'> ğŸ‘€ğŸ¾ **ë°ì´í„°í”„ë ˆì„ ë³€í™˜ Converting to basic data frame from dictionary data** 1ï¸âƒ£ â¤µï¸

####<font color = 'blue'> ğŸ‘€ğŸ¾ **í–‰ ì¸ë±ìŠ¤ ì‹¤í–‰í•˜ê¸° set_index( )** 2ï¸âƒ£  â¤µï¸
  - íŠ¹ì • ì—´(column)ì„ ë°ì´í„°í”„ë ˆì„ì˜ í–‰(row) ì¸ë±ìŠ¤ë¡œ ì„¤ì •

ì¸ë±ìŠ¤ë¥¼ ì— í•œë‹¤. ë¯¸ë¦¬ ì§€ì •í•´ ë†“ëŠ”ë‹¤ëŠ” ëœ». ì „ì—ëŠ” ë„¤ì„ ì¸ë±ìŠ¤ë¥¼ ë‚˜ì¤‘ì— í–ˆëŠ”ë° ì§€ê¸ˆì€ í–‰ ì¸ë±ìŠ¤ë¥¼ ì²˜ìŒë¶€í„° ì‹¤í–‰í•˜ëŠ” ê±°ë‹¤. ì´ê·¸ì¼ ë°ì´í„°ì— ë„¤ì„ì„ ë„£ê³  ì „ë¶€ ë‹¤ ë”•ì…”ë„ˆë¦¬ í˜•íƒœì¸ë° , ì¸ë±ìŠ¤ì— ë“¤ì–´ê°ˆ ë‚´ìš©ì„ ì´ê·¸ì¼ì— ì²˜ìŒë¶€í„° ì¨ì¤Œ.
ì´ê·¸ì¼ ì•ˆì— ê·¸ëƒ¥ ë‹¤ ì¨ì¤€ë‹¤. íŠ¹ì •í•œ ì—´ì„ ë°ì´í„° í”„ë ˆì„ì˜ í–‰(row) ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œë‹¤.

In [ ]:
import pandas as pd
exam_data = {'Name':['Simon', 'Mathew', 'Andy', 'Louis'], 'Math':[90,80,70,85], 'English':[98,89,95,79],'Music':[85,95,100,100],'Physics':[100,90,90,88]}
df = pd.DataFrame(exam_data)
print(df)

     Name  Math  English  Music  Physics
0   Simon    90       98     85      100
1  Mathew    80       89     95       90
2    Andy    70       95    100       90
3   Louis    85       79    100       88

ì¸ë±ìŠ¤ë¥¼ ë‹¤ë¥¸ ì ìˆ˜ ë°ì´í„°í•˜ê³  ê°™ì´ ë„£ì—ˆì„ ê²½ìš°ì—ëŠ” ì´ ê²½ìš°ì—ëŠ” ì¸í‹°ì €ì¸ë±ìŠ¤ê°€ ê°™ì´ í”„ë¦°íŠ¸ê°€ ë¼ì„œ ë‚˜ì˜¤ê¸° ë•Œë¬¸ì— ì´ë•ŒëŠ” Nameì´ë¼ê³  ë˜ì–´ ìˆëŠ” ì´ key ì–˜ë¥¼ ê°–ë‹¤ê°€ ë‚´ê°€ ì— ì¸ë±ìŠ¤ í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ ì–˜ë¥¼ ì§€ì •í•˜ê² ë‹¤. ì¦‰, ì¸ë±ìŠ¤ ë„¤ì„ìœ¼ë¡œ ë‚´ê°€ ë°ì´í„° í”„ë ˆì„í™” í•´ì„œ" ì¸ë±ìŠ¤ ë„¤ì„ìœ¼ë¡œ ë‹¤ì‹œ ìƒˆë¡œ ì§€ì •í•˜ê² ë‹¤" ë¼ê³  í•˜ëŠ” set_indexë¼ê³  í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì“´ë‹¤.

ì²« ë²ˆì§¸ keyì˜ ë²¨ë¥˜ê°€ ìŠ¤íŠ¸ë§ ì´ì—ˆì„ ë¿ì´ë‹¤.  ì–˜ëŠ” ì•„ì§ ì¸ë±ìŠ¤ ë„¤ì„ì´ ì•„ë‹ˆë‹¤. 'Name' : ['Simon', 'Mathew', 'Andy','Louis'] ì»´í“¨í„°ê°€ ë³´ê¸°ì—ëŠ” ì•„ì§ ì¸ë±ìŠ¤ ë„¤ì„ì´ ì•„ë‹ˆë‹¤.
ì¸ë±ìŠ¤ ë„¤ì„ ì´ë¼ê³  í•˜ëŠ”ê±°ëŠ” ê°ê°ì˜ ë²¨ë¥˜(ê°’)ë“¤ì´ ì†í•œ ì¸ë±ìŠ¤ ë„¤ì„ì´ë‹¤ .ìƒ‰ì¸ ì´ë¦„ì¸ ê±°ë‹¤. ê·¸ë˜ì„œ ì–˜ë¥¼ ê°–ë‹¤ê°€ ë‹¤ì‹œ ìƒ‰ì¸ ì´ë¦„ìœ¼ë¡œ ì§€ì •í•˜ê¸° ìœ„í•´ì„œëŠ” set_indexë¼ê³  í•˜ëŠ”
í•¨ìˆ˜ë¥¼ ì‚¬ìš©ì„ í•´ì„œ ì „ì²´ ë°ì´í„° ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ë§Œë“  ë°ì´í„°ë¥¼ ë„£ê³  ì¸í”Œë ˆì´ìŠ¤ì— íŠ¸ë£¨ë¥¼ ë„£ì–´ì£¼ë©´ ì´ë•ŒëŠ” ë² ë¦¬ì–´ë¸” ë„¤ì„ì„ ìƒˆë¡œ ìƒì„±í•˜ì§€ ì•Šê³  ì…‹ ì¸ë±ìŠ¤ í•¨ìˆ˜ë¥¼ ê·¸ëŒ€ë¡œ ì ìš©ì‹œí‚¨ë‹¤.ê·¸ë˜ì„œ ì‚¬ì´ë¨¼,ë§¤íŠ¸ë¥˜,ì•¤ë””,ë£¨ì´ìŠ¤ë¼ê³  í•˜ëŠ” ê±°ë¥¼ "ì¸ë±ìŠ¤í™” ì‹œì¼œì¤Œ"

In [ ]:
import pandas as pd
exam_data = {'Name' : ['Simon', 'Mathew', 'Andy','Louis'], 'Math':[90,80,70,85], 'English':[98,89,95,79],'Music':[85,95,100,100],'Physics':[100,90,90,88]}   #ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì´ëŸ°ì‹ìœ¼ë¡œ ë„£ì—ˆì„ ê²½ìš° , ì²« ë²ˆì§¸ í‚¤ì˜ ë²¨ë¥˜ê°€ ìŠ¤íŠ¸ë§
df = pd.DataFrame(exam_data)
df.set_index('Name', inplace=True)  #df = pd.DataFrame(exam_data) ì´ë¯¸ matrix ëœ ê±°ì— set_indexë¼ê³  í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì ìš©í•œë‹¤. ì´ë•Œ ì²« ë²ˆì§¸ ì¸ìëŠ” Name ì´ë‹¤.
print(df)

        Math  English  Music  Physics
Name
Simon     90       98     85      100
Mathew    80       89     95       90
Andy      70       95    100       90
Louis     85       79    100       88

In [ ]:
import pandas as pd
exam_data = {'Name' : ['Simon', 'Mathew', 'Andy','Louis'], 'Math':[90,80,70,85], 'English':[98,89,95,79],'Music':[85,95,100,100],'Physics':[100,90,90,88]}   #ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì´ëŸ°ì‹ìœ¼ë¡œ ë„£ì—ˆì„ ê²½ìš° , ì²« ë²ˆì§¸ í‚¤ì˜ ë²¨ë¥˜ê°€ ìŠ¤íŠ¸ë§
df = pd.DataFrame(exam_data)
print(df)
print('\n')
df.set_index('Name', inplace=True)    #ì´ë¦„ì„ ì¸ë±ìŠ¤í™” ì‹œí‚´
print(df)

     Name  Math  English  Music  Physics
0   Simon    90       98     85      100
1  Mathew    80       89     95       90
2    Andy    70       95    100       90
3   Louis    85       79    100       88


        Math  English  Music  Physics
Name
Simon     90       98     85      100
Mathew    80       89     95       90
Andy      70       95    100       90
Louis     85       79    100       88

In [ ]:
import pandas as pd
exam_data = {'Name':['ES', 'YG', 'MJ', 'HY'], 'Math':[90,89,79,60], }
df=pd.DataFrame(exam_data)
df.set_index('Name', inplace=True)
print(df)

In [ ]:
import pandas as pd
exam_data = {'Name': ['eunsung', 'hyejin', 'chayeong', 'hayeon'], 'Math':[90,87,67,70], 'Music':[92,67,39,82], 'English':[89,90,67,82]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')
df.set_index('Name', inplace=True)
print(df)

       Name  Math  Music  English
0   eunsung    90     92       89
1    hyejin    87     67       90
2  chayeong    67     39       67
3    hayeon    70     82       82


          Math  Music  English
Name
eunsung     90     92       89
hyejin      87     67       90
chayeong    67     39       67
hayeon      70     82       82

In [ ]:
#-*- coding: utf-8 -*-       #<ì¸ë±ìŠ¤ë¥¼ ì²˜ìŒë¶€í„° ì‹¤í–‰>

import pandas as pd

#DataFrame( ) í•¨ìˆ˜ë¡œ ì‚¬ì „í˜• ë°ì´í„°ë¥¼ 2ì°¨ì› ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜, ë³€ìˆ˜ dfì— ì €ì¥.
#ì£¼ì˜: í•™ìƒë“¤ ì´ë¦„ì´ ìˆëŠ” Name column & ê° ê³¼ëª© ì„±ì  columns ì„ì—¬ ìˆìŒ.

exam_data = {'Name' : ['Simon', 'Mathew', 'Andy','Louis'],         #ë”•ì…”ë„ˆë¦¬  í˜•íƒœë¡œ ì ìˆ˜ë°ì´í„° í•˜ê³  ê°™ì´ ë„£ìŒ
             'Math':[90,80,70,85],
             'English':[98,89,95,79],
             'Music':[85,95,100,100],
             'Physics':[100,90,90,88]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

#'Name' columnì„ set_index() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ê³ , df objectì— ë³€ê²½ ì‚¬í•­ ë°˜ì˜; inplace=True means an immediate application without giving a new variable name.
df.set_index('Name', inplace=True)
print(df)

     Name  Math  English  Music  Physics
0   Simon    90       98     85      100
1  Mathew    80       89     95       90
2    Andy    70       95    100       90
3   Louis    85       79    100       88


        Math  English  Music  Physics
Name
Simon     90       98     85      100
Mathew    80       89     95       90
Andy      70       95    100       90
Louis     85       79    100       88

####<font color = 'red'> ğŸ‘€ğŸ¾ **ë°ì´í„°í”„ë ˆì„ ë³€í™˜ ì—°ìŠµ ê³„ì† Converting to basic data frame from dictionary data** 1 â¤µï¸

In [ ]:
import pandas as pd
dict_data = {'c0' : [1,2,3],
             'c1' : [4,5,6],
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df=pd.DataFrame(dict_data)
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
import pandas as pd

dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}     #ì¹¼ëŸ¼(column:ì—´)ì— c0 ì¹¼ëŸ¼ì— ì§€ê¸ˆ ë ˆì´ë¸”(label:í‘œì‹œ)ì„ ì£¼ëŠ” ê±´ë°
df = pd.DataFrame(dict_data)   #ë°ì´í„° í”„ë ˆì„í™” í•œë‹¤. pdì˜ ë°ì´í„°í”„ë ˆì„ í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©í•´ì„œ ë”•ì…”ë„ˆë¦¬ ë°ì´í„°ë¥¼ ì‚¬ìš©í•œë‹¤. ì´ë ‡ê²Œ í•œë‹¤ëŠ” ê±° ìì²´ëŠ” ì¸ë±ìŠ¤ ë„¤ì„ì´ ì•„ì§ ì—†ë‹¤.
print(df)
print('\n')

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

ìœ„ ì½”ë“œëŠ” ê° ì¹¼ëŸ¼ì— ë¦¬ìŠ¤íŠ¸ì— 3ê°œì˜ ì—˜ë¦¬ë¨¼íŠ¸ê°€ ë“¤ì–´ê°€ì„œ ì´ 3í–‰ìœ¼ë¡œ ëë‹¤.

ìœ„ ì½”ë“œì—ì„œ í–‰ ì¸ë±ìŠ¤ì¸ 0 1 2 ë¥¼ ê°–ë‹¤ê°€ ìš°ë¦¬ê°€ ì¸ë°ìŠ¤ë¥¼ r0 r1 r2 r3 ...ë¡œ í•˜ê² ë‹¤.

In [ ]:
import pandas as pd

dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}     #ì¹¼ëŸ¼(column:ì—´)ì— c0 ì¹¼ëŸ¼ì— ì§€ê¸ˆ ë ˆì´ë¸”(label:í‘œì‹œ)ì„ ì£¼ëŠ” ê±´ë°
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])   #ë°ì´í„° í”„ë ˆì„í™” í•œë‹¤. pdì˜ ë°ì´í„°í”„ë ˆì„ í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©í•´ì„œ ë”•ì…”ë„ˆë¦¬ ë°ì´í„°ë¥¼ ì‚¬ìš©í•œë‹¤. ì´ë ‡ê²Œ í•œë‹¤ëŠ” ê±° ìì²´ëŠ” ì¸ë±ìŠ¤ ë„¤ì„ì´ ì•„ì§ ì—†ë‹¤.
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
#-*- coding: utf-8 -*-   #ë°ì´í„°ë¥¼ ì´ˆê¸°í™”

import pandas as pd

#DataFrame( ) í•¨ìˆ˜ë¡œ ë°ì´í„°í”„ë ˆì„ ë³€í™˜, ë³€ìˆ˜ dfì— ì €ì¥

dict_data = {'c0' : [1,2,3],
             'c1' : [4,5,6],
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰ ì¸ë±ìŠ¤ ì‹¤í–‰í•˜ê¸° set_index( ) 2-1** â¤µï¸

í–‰ ë°ì´í„°ë¥¼ ì¡°ê¸ˆ ë” í•­ëª©ì„ ì¶”ê°€í•˜ê³  ì‹¶ë‹¤ê³  ìƒê°ì„ í•¨. ê·¸ëŸ¬ë©´ ê·¸ê±°ëŠ” ì–´ë–»ê²Œ ì¶”ê°€ë¥¼ í• ì§€. ê·¸ ì¶”ê°€í•œ ë°ì—ì„œëŠ” ì›ë˜ ìš°ë¦¬ê°€ ì¡°ì‚¬í•œ ë²¨ë¥˜ë“¤ì´ ì—†ë‹¤. ê·¸ëŸ¬ë©´ ê±”ë“¤ì€ 'ë‚œ ì—í”Œí„°ë¸”' ì´ë¼ê³  í•´ì„œ ì ìš©ì´ ë¶ˆê°€í•œ ë°ì´í„°ë¡œ ìˆ«ì ë°ì´í„°ë¡œ ë‚˜ì˜¤ì§€ ì•ŠëŠ”ë‹¤. ê·¸ëŸ¬ë©´ ë‚˜ì¤‘ì—ëŠ” ë¶„ì„ì´ ëŒì•„ê°€ì§€ ì•ŠëŠ” ë‚œê´€ì— ë´‰ì°©í•œë‹¤. ì™œëƒí•˜ë©´ ìˆ«ìê°€ ì•„ë‹Œ ë°ì´í„°ë“¤ì´ ì„ì—¬ìˆì–´ì„œ/ ê·¸ëŸ¬ë©´ ê·¸ ìˆ«ìê°€ ì•„ë‹Œ ë°ì´í„°ë¥¼ ì´ì œëŠ” ì´ ê°ê°ì˜ í•­ëª©ì„ ì¶”ê°€í•œê²ƒì— ìˆ«ìê°€ ì•„ë‹Œ ë°ì´í„°ë¥¼ ê°€ì¥ ë””í´íŠ¸ ê°’ì¸ 0ê°’ìœ¼ë¡œ ì¹˜í™˜ì„ í•´ì¤€ë‹¤. ê·¸ëŸ¬ë©´ ë‚˜ì¤‘ì— ë¶„ì„ë“¤ì´ ëŒì•„ê°€ê¸°ë„ í•œë‹¤.

In [ ]:
#ì´ì œ í•  ê±°ëŠ” í–‰ì´ 2ê°œê°€ ë” í•„ìš”í•˜ë‹¤. ë­ ì‚¬ëŒì´ë©´ ì‚¬ëŒì¼ìˆ˜ë„ ìˆê³ , ì§€ì—­ì´ë©´ ì§€ì—­ì¼ ìˆ˜ë„ ìˆë‹¤. í–‰ì„ 2ê°œë¥¼ ë” ë„£ê² ë‹¤.

import pandas as pd

dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}     #ì¹¼ëŸ¼(column:ì—´)ì— c0 ì¹¼ëŸ¼ì— ì§€ê¸ˆ ë ˆì´ë¸”(label:í‘œì‹œ)ì„ ì£¼ëŠ” ê±´ë°
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])   #ë°ì´í„° í”„ë ˆì„í™” í•œë‹¤. pdì˜ ë°ì´í„°í”„ë ˆì„ í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©í•´ì„œ ë”•ì…”ë„ˆë¦¬ ë°ì´í„°ë¥¼ ì‚¬ìš©í•œë‹¤. ì´ë ‡ê²Œ í•œë‹¤ëŠ” ê±° ìì²´ëŠ” ì¸ë±ìŠ¤ ë„¤ì„ì´ ì•„ì§ ì—†ë‹¤.
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
# í–‰ 2ê°œ ì¶”ê°€

df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)# ë‰´ ë°ì´í„° í”„ë ˆì„ ì´ë¼ê³  ì„ì˜ì˜ ë³€ìˆ˜ëª…ì„ ë„£ìŒ. ndf ì—ë‹¤ê°€ ì›ë˜ ê°–ê³  ìˆë˜ r2 ê¹Œì§€ ìˆë˜ ê²ƒì´ df ì˜€ë‹¤. ê·¸ dfì—ë‹¤ê°€ reindex í•´ì„œ 'ì¸ë±ìŠ¤ë¥¼ ë‹¤ì‹œ ë¶™ì´ê² ë‹¤' ë€ ëœ»ì´ë‹¤.
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

NaN ì€ ì ìš©í•  ìˆ˜ ì—†ëŠ” ìˆ«ìê°€ ì•„ë‹Œ ë°ì´í„°ë©´ ì´ë ‡ê²Œ ë‚˜ì˜¨ë‹¤. ê·¸ë˜ì„œ ë‹¤ ì±„ì›Œì§€ê¸´ í–ˆëŠ”ë° ë‚˜ì¤‘ì— ë¶„ì„ì„ ëŒë¦¬ë©´ ì•„ì˜ˆ ì•ˆëŒì•„ê°. ê·¸ëƒ¥ ì „ë¶€ ë‹¤ ì•ˆëŒì•„ê°.
ê·¸ë˜ì„œ ì˜ˆë¥¼ ë“¤ì–´, ì´ í…Œì´ë¸”ê³¼ ë˜ ë‹¤ë¥¸ ì›ë˜ 5ê°œì˜ í–‰ìœ¼ë¡œ ì¶œë°œí•œ ë°ì´í„°ê°€ ìˆìœ¼ë©´ ê·¸ í–‰ì˜ r3ì™€ r4ëŠ” ì•„ì˜ˆ ë¹„êµë¶„ì„ì´ ì•ˆëœë‹¤ëŠ” ë‹¨ì ì´ ìˆë‹¤.

!!! ê·¸ë˜ì„œ ì–˜ë¥¼ ê°–ë‹¤ê°€ 0 ê°’ìœ¼ë¡œ ë°”ê¿”ì¤˜ì•¼ ëœë‹¤. 0 ê°’ìœ¼ë¡œ ë°”ê¿”ì¤˜ì•¼ ì–´ì¨Œë“  ë¶„ì„ì€ ëŒì•„ê°„ë‹¤.
ìœ„ì—ì„œ ë§Œë“  í‘œì—ëŠ” r3ì™€ r4ì— ëŒ€í•œ ì…ë ¥ê°’ì´ ì‚¬ì‹¤ì€ ì—†ì—ˆì–ì•„ìš”. í•˜ì§€ë§Œ ì˜ˆë¥¼ ë“¤ì–´, ì¶©ì²­ë„ ë°ì´í„°ì—ì„œëŠ” r3, r4 ë°ì´í„°ê°€ í–‰ë°©ë¶ˆëª… ë˜ìˆëŠ”ë° ê²½ê¸°ë„ ë°ì´í„°, ê°•ì›ë„ ë°ì´í„°ëŠ” ë‹¤ ìˆë‹¨ ë§ì´ì•¼ ê·¸ëŸ¬ë©´ ì´ì œ ë¹„êµë¥¼ í•´ì•¼ë˜ëŠ”ë° ë¹„êµí•  ëŒ€ìƒì„ ìˆì–´ì•¼ ë˜ì„œ r3 r4ë¥¼ ë§Œë“¤ì—ˆëŠ”ë° ì´ì œ ìë™ìœ¼ë¡œ ìƒì„±ëœ ê±°ëŠ” NaN ì´ë¼ê³  í•´ì„œ ìˆ«ìí™”ë˜ì§€ ì•Šì€ ë°ì´í„°ê°€ ë°”ì´ë””í´íŠ¸ê°’ìœ¼ë¡œ ê¸°ì´ˆê°’ìœ¼ë¡œ ë“¤ì–´ê°€ ìˆë‹¤. ë”°ë¼ì„œ ì–˜ë“¤ì´ ë§Œì•½ì— 0 ê°’ì´ë©´ ë‹¤ë¥¸ ìˆ«ìë“¤ì´ë‘ ë¹„êµëŠ” í•  ìˆ˜ ìˆë‹¤. ê·¸ë˜ì„œ "ì–˜(NanN)ë¥¼ 0ìœ¼ë¡œ ì¹˜í™˜í•´ì£¼ëŠ” ê²ƒì´ë‹¤."!!!!!

In [ ]:
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])  #ì¸í‹°ì € ì¸ë±ìŠ¤ê°€ ë°”ë€œ
df
new_index=['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [ ]:
#Dictionaryë°ì´í„°ë¥¼ í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•˜ë©°, í–‰ ì¸ë±ìŠ¤ë¥¼ 'r0', 'r1', 'r2'ë¡œ ì¬ì§€ì •

df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **#í–‰(row) ì¸ë±ìŠ¤ ì¬ë°°ì—´ reindex( ) 2-2** â¤µï¸

In [ ]:
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

ndf2 = df.reindex(new_index, fill_value=0)     #fill: ì±„ìš°ë‹¤. ìˆ«ìê°€ ì•„ë‹Œ ë°ì´í„°ë“¤ì´ fill_value=0 ì„ í•˜ë©´ì„œ ë°ì´í„°ê°€ ìˆ«ìí™” ë˜ì—ˆë‹¤.!!!!!
print(ndf2)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [ ]:
#í–‰ ì¸ë±ìŠ¤ë¥¼ [r0, r1, r2, r3, r4]ë¡œ ì¬ì§€ì •
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

####<font color = 'red'> ğŸ‘€ğŸ¾ **#reindex ( )ë¡œ ë°œìƒí•œ NaN ê°’ì„ fill_value = 0 ì„ ì‚¬ìš©í•˜ì—¬ NaNì„ ìˆ«ì 0ìœ¼ë¡œ ì±„ìš°ê¸° 3** â¤µï¸

In [ ]:
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰(row) ì¸ë±ìŠ¤ ì´ˆê¸°í™” reset_index( ) 4** â¤µï¸

In [ ]:
ndf2=df.reset_index()
print(ndf2)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰(row) ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì •ë ¬ sort_index( ) 5** â¤µï¸

In [ ]:
ndf3 = df.sort_index()
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> ğŸ‘€ğŸ¾ **í–‰(row) ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_index(ascending=False) & ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_index(ascending=True) 5** â¤µï¸

In [ ]:
ndf4=df.sort_index(ascending=False)
print(ndf4)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

<font color = 'red'> **ğŸ‘€ğŸ¾ íŠ¹ì • ì—´ì˜ ë°ì´í„° ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ ë‚´ë¦¼ì°¨ìˆœ/ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ê¸° í–‰(row) ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_vales(by='cX', ascending=False) & ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë ¤ë©´ sort_vales(by='cX', ascending=True) 6** â¤µï¸

In [ ]:
ndf5=df.sort_values(by='c1', ascending=False)
print(ndf5)
print('\n')

ndf6=df.sort_values(by='c1', ascending=True)
print(ndf6)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15