<a href="https://colab.research.google.com/github/kmj122/stats_2025/blob/main/5_series_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 🐹  1️⃣ Pandas Series Operation 판다스 시리즈 연산
- 사전데이터를 판다스 시리즈데이터로 만들기

In [ ]:
import pandas as pd
student1 = pd.Series({'Literature':100, 'English':'80', 'Math':90})
print(student1)
print('\n')

#student1 = pd.to_numeric(student1)  # Convert values to numeric data type, >> or >> student1 = student1.astype(int) to convert values to integer data type, or >> student1 = student1.astype(float) to convert values to float data type
student1 = student1.astype(float)
print(student1)
print('\n')

percentage = student1/200
print(percentage)
print('\n')
print(type(percentage))

Literature    100
English        80
Math           90
dtype: object


Literature    100.0
English        80.0
Math           90.0
dtype: float64


Literature    0.50
English       0.40
Math          0.45
dtype: float64


<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd
student1 = pd.Series({'Literature':100, 'English':80, 'Math':90})
print(student1)
print('\n')

#student1 = pd.to_numeric(student1)  # Convert values to numeric data type, >> or >> student1 = student1.astype(int) to convert values to integer data type, or >> student1 = student1.astype(float) to convert values to float data type
student1 = student1.astype(int)
print(student1)
print('\n')

percentage = student1/200
print(percentage)
print('\n')
print(type(percentage))

Literature    100
English        80
Math           90
dtype: int64


Literature    100
English        80
Math           90
dtype: int64


Literature    0.50
English       0.40
Math          0.45
dtype: float64


<class 'pandas.core.series.Series'>

### 🐹 2️⃣ Pandas Series vs. Series
- 시리즈오 시리즈 사이에 사칙연산 (e.g., addition, subtraction, multiplication, division)을 처리하는 방법
- <font color = 'red'> **Series1 +/-/*// Sereis2 = Series3**

어떤 개인의 시리즈 데이터와 또 어떤 개인의 시리즈 데이터를 사칙연산해서 + - * / 을 해서 이제 데이터프레임화 할 수 있다는 것 까지 배움.

In [ ]:
import pandas as pd

student1 = pd.Series({'English':100, 'Literature':90, 'Math':98})
student2 = pd.Series({'Literature':78, 'Math':90, 'English':80})
print(student1)
print('\n')
print(student2)
print('\n')

#두 학생의 점수로 사칙연산 수행 해 보기. The method, astype(int), safely converts values (e.g., elements of Series or DataFrame) to integer data.

#student1 = student1.astype(int)
#student2 = student2.astype(int)

addition = student1 + student2
print(addition)
print('\n')

subtraction = student1-student2
print(subtraction)
print('\n')

multiplication = student1*student2
print(multiplication)
print('\n')

division = student1/student2
print(division)
print('\n')

English       100
Literature     90
Math           98
dtype: int64


Literature    78
Math          90
English       80
dtype: int64


English       180
Literature    168
Math          188
dtype: int64


English       20
Literature    12
Math           8
dtype: int64


English       8000
Literature    7020
Math          8820
dtype: int64


English       1.250000
Literature    1.153846
Math          1.088889
dtype: float64

### 💣 💊 **Code below:**

The first argument, result1, is already a DataFrame, not a list of Series. So when you pass it again to pd.DataFrame(), pandas assumes you're trying to rebuild a DataFrame from the columns of an existing DataFrame. This leads to confusion and misalignment, especially since you're assigning new row labels (index = [...]) but not providing new row data.

The first argument, result1, is already a DataFrame, not a list of Series. So when you pass it again to pd.DataFrame(), pandas assumes you're trying to rebuild a DataFrame from the columns of an existing DataFrame. This leads to confusion and misalignment, especially since you're assigning new row labels (index = [...]) but not providing new row data.(첫 번째 인자인 result1은 이미 DataFrame이기 때문에, 이것을 다시 pd.DataFrame()에 전달하면 pandas는 기존 DataFrame의 열들로부터 새로운 DataFrame을 만들려고 시도합니다. 이로 인해 혼란과 정렬 오류가 발생하게 되는데, 그 이유는 새로운 행 레이블(index=[...])을 지정하면서도 새로운 행 데이터는 제공하지 않기 때문입니다.)

주의해야 하는 거는 여기에 인덱스 네임을 넣을 때

예를들어 어떤 시험을 치면 내 점수는 시리즈 데이터이다. 왜냐하면 1명의 데이터니까.

1명이서 6과목 7과목 시험을 쳤을 때 이때는 한 개의 시리즈 데이터가 나오게 된다.

아니면 17명의 데이터를 쭉 모으면 그러면 각 개별이 1개의 시리즈 데이터를 갖고 있는 것이다. 이런 시리즈 데이터를 전부 다 쌓아서 그걸 데이터 프레임화 할 수 있다. 어떻게? 각 과목별로 해서 명수를 1번부터 17번까지 행으로 놓을 수 있다. 그것 외에도 나의 데이터를 전부 다 시리즈 데이터로 보고 그 시리즈 데이터를 사칙연산으로 연산을 할 수 있다.


3과목에 대해서 17명을 연산을 하게 되면 데이터 프레임이 몇 행, 몇 열로 나올 수 있냐? (3 과목에 대해서 17명의 데이터를 시리즈 데이터로 한 개 한 개 취합을 했다. 그걸 사칙연산을 하면 궁극적으로 내가 얻는 데이터는 사칙연산에 대한 데이터이다.) ->

# 결과 잘 보기!!!!!:::::

result1 = pd.DataFrame(...)





result2 = pd.DataFrame(result1, ...)  인 경우 result1은 지금 두 번이나 데이터 프레임화 시키고 있으므로 오류남.

In [ ]:
#continued from the cell above

result1 = pd.DataFrame([addition, subtraction, multiplication, division])
print(result1)
print('\n')

result2 = pd.DataFrame(result1, index = ['addition +', 'subtraction -', 'multiplication *', 'division /']) #result1 은 이미 데이터프레임인데 이거를 다시 데이터 프레임화하면 혼란과 오류생김
print(result2)
print('\n')

result3 = pd.DataFrame([addition, subtraction, multiplication, division], index = ['addition +', 'subtraction -', 'multiplication *', 'division /'])    #원래의 데이터 [addition, subtraction, multiplication, division] 리스트로 되어있는 4개의 원소가 있는
print(result3)

   English   Literature         Math
0   180.00   168.000000   188.000000
1    20.00    12.000000     8.000000
2  8000.00  7020.000000  8820.000000
3     1.25     1.153846     1.088889


                  English  Literature  Math
addition +            NaN         NaN   NaN
subtraction -         NaN         NaN   NaN
multiplication *      NaN         NaN   NaN
division /            NaN         NaN   NaN


                  English   Literature         Math
addition +         180.00   168.000000   188.000000
subtraction -       20.00    12.000000     8.000000
multiplication *  8000.00  7020.000000  8820.000000
division /           1.25     1.153846     1.088889

In [ ]:
import pandas as pd

student1 = pd.Series({'English':100, 'Literature':90, 'Math':98})     #사전형 데이터
student2 = pd.Series({'Literature':78, 'Math':90, 'English':80})

#두 학생의 점수로 사칙연산 수행 해 보기. The method, astype(int), safely converts values (e.g., elements of Series or DataFrame) to integer data.

student1 = student1.astype(int)  #student1이라는 Series 또는 DataFrame의 모든 데이터를 int(정수형)으로 바꿔라 그리고 그 결과를 다시 student1에 저장하라. astype()은 pandas에서 자료형(type)을 바꾸는 함수예요.
student2 = student2.astype(int)

add = student1 + student2

sub = student1-student2

multi = student1*student2

div = student1/student2

result1 = pd.DataFrame([add, sub, multi, div])    #사칙연산을 데이터 프레임화 함.  4 by 3 테이블로 만듦. (4행 3열 데이터로 만듦.)
print(result1)
print('\n')

#자세히 보기!!!!! : round(result1,2) 임. 이미 데이터 프레임인 result1 에 대해서 나온 결과를 소수점 둘째자리까지만 보겠다.
rounded_result1 = round(result1, 2)   # rounded_result1: 반올림된 결과 1.   , 소수점 둘째자리까지만 보겠다. 결과가 나옴!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 헷갈리지XXXXXXXX
print(rounded_result1)
print('\n')

result2 = pd.DataFrame([add, sub, multi, div], index = ['add+', 'sub-', 'mul*', 'div/'])     # 인덱스 이름 직접 지정
print(result2)
print('\n')

rounded_result2 = round(result1, 1)     #소수점 첫째자리까지 나옴
print(rounded_result2)
print('\n')

#💣 problmatic again due to rounded_result2 argument as a dataframe    #rounded_result2가 DataFrame으로 전달되어서 다시 문제가 발생했어요." rounded_result2 는 원래 데이터 프레임화 됐었는데 또 다시 데이터 프레임화 시켜서 오류가 생김.
result3 = pd.DataFrame(rounded_result2, index = ['add+', 'sub-', 'mul*', 'div/'])
print(result3)

   English   Literature         Math
0   180.00   168.000000   188.000000
1    20.00    12.000000     8.000000
2  8000.00  7020.000000  8820.000000
3     1.25     1.153846     1.088889


   English  Literature     Math
0   180.00      168.00   188.00
1    20.00       12.00     8.00
2  8000.00     7020.00  8820.00
3     1.25        1.15     1.09


      English   Literature         Math
add+   180.00   168.000000   188.000000
sub-    20.00    12.000000     8.000000
mul*  8000.00  7020.000000  8820.000000
div/     1.25     1.153846     1.088889


   English  Literature    Math
0    180.0       168.0   188.0
1     20.0        12.0     8.0
2   8000.0      7020.0  8820.0
3      1.2         1.2     1.1


      English  Literature  Math
add+      NaN         NaN   NaN
sub-      NaN         NaN   NaN
mul*      NaN         NaN   NaN
div/      NaN         NaN   NaN

In [ ]:
import pandas as pd

student1 = pd.Series({'English':100, 'Literature':90, 'Math':98})     #사전형 데이터
student2 = pd.Series({'Literature':78, 'Math':90, 'English':80})

#두 학생의 점수로 사칙연산 수행 해 보기. The method, astype(int), safely converts values (e.g., elements of Series or DataFrame) to integer data.

student1 = student1.astype(int)  #student1이라는 Series 또는 DataFrame의 모든 데이터를 int(정수형)으로 바꿔라 그리고 그 결과를 다시 student1에 저장하라. astype()은 pandas에서 자료형(type)을 바꾸는 함수예요.
student2 = student2.astype(int)

add = student1 + student2

sub = student1-student2

multi = student1*student2

div = student1/student2

result1 = pd.DataFrame([add, sub, multi, div])    #사칙연산을 데이터 프레임화 함.  4 by 3 테이블로 만듦. (4행 3열 데이터로 만듦.)
print(result1)
print('\n')

   English   Literature         Math
0   180.00   168.000000   188.000000
1    20.00    12.000000     8.000000
2  8000.00  7020.000000  8820.000000
3     1.25     1.153846     1.088889

## 💊 **Student Activity: Fix NaN (Not a Number)** ⤵️

In [ ]:
#@markdown <font color = 'red'> **💊 Student Activity: Fix NaN (Not a Number)**

import pandas as pd

student1 = pd.Series({'English':100, 'Literature':90, 'Math':98})
student2 = pd.Series({'Literature':78, 'Math':90, 'English':80})

student1 = student1.astype(int)
student2 = student2.astype(int)

add = student1 + student2
sub = student1 - student2
multi = student1 * student2
div = student1 / student2

result1 = pd.DataFrame([add, sub, multi, div])
rounded_result1 = round(result1, 2)

# Assigning meaningful row names directly
rounded_result1.index = ['add+', 'sub-', 'mul*', 'div/']
print(rounded_result1)

      English  Literature     Math
add+   180.00      168.00   188.00
sub-    20.00       12.00     8.00
mul*  8000.00     7020.00  8820.00
div/     1.25        1.15     1.09

### 🐹 3️⃣ Pandas Operation Method 연산메소드
* <font color = 'blue'> **NaN**</font> stands for "Not a Number."
* NaN이 나오는 셀은 결과값이 모두 NaN

# array processing capabilities(배열처리능력)

## 🐹 **_For your information:_**
#### The <font color = 'red'>**NumPy**</font> package is a fundamental library for _numerical computing_ in Python. It provides support for _multidimensional arrays_, along with a wide range of **_mathematical functions_** to operate on these arrays efficiently. NumPy is a cornerstone of many scientific and engineering applications due to its powerful array processing capabilities(배열처리능력).

<font color = 'brown'>**Here are some key features and purposes of the NumPy package:</font>**

- **Multidimensional Array Support**: NumPy provides a powerful N-dimensional array object called ndarray, which enables efficient storage and manipulation of large datasets. These arrays allow for vectorized operations, which can significantly improve performance compared to traditional Python lists.

- **Mathematical Functions**: NumPy offers a comprehensive set of mathematical functions for performing various operations on arrays. These include basic arithmetic operations, mathematical functions (e.g., trigonometric, exponential, logarithmic), linear algebra functions, statistical functions, and more.

- **Broadcasting**: NumPy's broadcasting feature allows arrays of different shapes to be combined and operated on together, making it easy to perform element-wise operations even when the arrays have different dimensions.

- **Integration with other Libraries**: NumPy integrates seamlessly with other Python libraries for scientific computing and data analysis, such as SciPy, pandas, matplotlib, and scikit-learn. It serves as a foundational building block for these libraries, providing efficient array processing capabilities.

- **Performance Optimization**: NumPy is implemented in optimized C and Fortran code, making it fast and efficient for numerical computations. It leverages optimized libraries (such as BLAS and LAPACK) for linear algebra operations, ensuring high performance even for large-scale computations.

### 💣 **NaN is not a string. Do it yourself so that you may understand it is not working!** ⤵️

In [ ]:
import pandas as pd
import numpy as np

#'np.NaN is a constant representing "Not a Number" in the numpy library for Python.(np.NaN은 Python의 numpy 라이브러리에서 '숫자가 아님'을 의미하는 특별한 값(상수)입니다.)
#It is used to represent missing or undefined numerical values, similar to NaN in other programming languages.(이것은 다른 프로그래밍 언어의 NaN처럼, 누락되었거나 정의되지 않은 숫자 값을 나타내는 데 사용됩니다.)

student1 = pd.Series({'English':NaN, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})   # '80'이 지금 문자열임.
print(student1)
print('\n')
print(student2)
print('\n')

NameError: name 'NaN' is not defined

NameError: name 'NaN' is not defined

In [ ]:
import pandas as pd
import numpy as np

#'np.NaN is a constant representing "Not a Number" in the numpy library for Python.
#It is used to represent missing or undefined numerical values, similar to NaN in other programming languages.
#Only addition works since it can put strings together. '80' is a string!

student1 = pd.Series({'English':'NaN', 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})
print(student1)
print('\n')
print(student2)
print('\n')

#두 학생의 점수로 사칙연산 수행 해 보기

addition = student1 + student2    #덧셈은 문자열을 연결할 수 있음. 덧셈은 문자열을 연결시키는 기능 / 근데 Literature 의 결과는  Literature  NaN 이 나옴.*****************
print(addition)
print('\n')

subtraction = student1-student2                 #여기서부터는 에러 떨어짐.
print(subtraction)

multiplication = student1*student2
print(multiplication)


division = student1/student2
print(division)

English       NaN
Literature     90
Math           98
dtype: object


Math       90
English    80
dtype: object


English       NaN80
Literature      NaN
Math            188
dtype: object

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# 덧셈은 사칙연산에도 쓰는데, 어떨때 쓰냐면 문자열을 연결해줄 때 쓸 수 있다.

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':'NaN', 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

addition = student1 + student2
print(addition)

English       NaN80
Literature      NaN
Math            188
dtype: object

### <font color = 'green'> **Example usage using np.nan**

In [ ]:
import pandas as pd
import numpy as np

s1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
s2 = pd.Series({'Math':90, 'English':'80'})

add = s1 + s2  # 더했음
print(add)

English         NaN
Literature      NaN
Math          188.0
dtype: object

In [ ]:
import pandas as pd
import numpy as np

s1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
s2 = pd.Series({'Math':90, 'English':'80'})

sub = s1 - s2
print(sub)

English       NaN
Literature    NaN
Math          8.0
dtype: object

In [ ]:
import pandas as pd
import numpy as np

s1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
s2 = pd.Series({'Math':90, 'English':'80'})

add = s1 + s2

sub = s1 - s2

multi = s1 * s2

divi = s1 / s2


result = pd.DataFrame([add,sub,multi,divi], index=['addition +', 'subtraction -', 'multiplication *', 'division /'])   # 데이터 프레임화
print(result)

                  English  Literature         Math
addition +            NaN         NaN   188.000000
subtraction -         NaN         NaN     8.000000
multiplication *      NaN         NaN  8820.000000
division /            NaN         NaN     1.088889

In [ ]:
import pandas as pd
import numpy as np

#'np.NaN is a constant representing "Not a Number" in the numpy library for Python.
#It is used to represent missing or undefined numerical values, similar to NaN in other programming languages.

student1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})   #Series 라는 걸 잊지말기!!!!!!!!!!!!
student2 = pd.Series({'Math':90, 'English':'80'})
print(student1)
print('\n')
print(student2)                                                                         #여기서는 NaN 다음에 80이 따라나오는게 없다.<  English       NaN80 >  이것처럼.
print('\n')

#두 학생의 점수로 사칙연산 수행 해 보기

addition = student1 + student2
print(addition)
print('\n')

subtraction = student1-student2
print(subtraction)
print('\n')

multiplication = student1*student2
print(multiplication)
print('\n')

division = student1/student2
print(division)
print('\n')

result = pd.DataFrame([addition, subtraction, multiplication, division], index = ['addition +', 'subtraction -', 'multiplication *', 'division /']) # 첫 번째 인자에 사칙연산 된 것들을 리스트화해서 넣고,
print(result)

English        NaN
Literature    90.0
Math          98.0
dtype: float64


Math       90
English    80
dtype: object


English         NaN
Literature      NaN
Math          188.0
dtype: object


English       NaN
Literature    NaN
Math          8.0
dtype: object


English          NaN
Literature       NaN
Math          8820.0
dtype: object


English            NaN
Literature         NaN
Math          1.088889
dtype: object


                  English  Literature         Math
addition +            NaN         NaN   188.000000
subtraction -         NaN         NaN     8.000000
multiplication *      NaN         NaN  8820.000000
division /            NaN         NaN     1.088889

###🐹 4️⃣ Pandas Operation Method 연산메소드

* **pd.to_numeric() function** is used to convert the values in student2 to the numeric data type. The **errors='coerce' argument** ensures that any invalid values are converted to NaN. This conversion allows four operations to be performed correctly.

* For your information, the following script will work without **errors=coerce** argument, though.

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

student2 = pd.to_numeric(student2, errors='coerce')

sr_add = student1 + student2
sr_sub = student1 - student2
sr_mul = student1 * student2
sr_div = student1 / student2

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])
print(sr_result)

                English  Literature         Math
Addition            NaN         NaN   188.000000
Subtraction         NaN         NaN     8.000000
Multiplication      NaN         NaN  8820.000000
Division            NaN         NaN     1.088889

In [ ]:
# Trial1

import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

#Add this step for converting string to numeric
student2 = pd.to_numeric(student2, errors='coerce')

sr_add = student1 + student2
sr_sub = student1 - student2
sr_mul = student1 * student2
sr_div = student1 / student2

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])
print(sr_result)

                English  Literature         Math
Addition            NaN         NaN   188.000000
Subtraction         NaN         NaN     8.000000
Multiplication      NaN         NaN  8820.000000
Division            NaN         NaN     1.088889

###🐹 5️⃣ Pandas Operation Method 연산메소드
* <font color = 'red'> NaN을 정수 0 으로 채워넣기

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

student2 = pd.to_numeric(student2, errors='coerce')  # errors = 'coerce' 를 먼저 써야지 에러가 안남. 무조건 errors='coerce' 먼저 쓰기!!!!!!

sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

#⤵️ Add this step for converting string to numeric. Unless we apply this function, we end up with errors with 'fill_value=0'): Refer to the code cell below.⤵️
student2 = pd.to_numeric(student2, errors='coerce')            # errors='coerce' : 강제로 돌아가게 만듦. 강제로 돌아가게 하면 없는 것들은 NaN이라고 문자열 처리 되기 때문에 얘를 갖다가 0값으로 치환해야함.

sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])
print(sr_result)

                English  Literature         Math
Addition           80.0        90.0   188.000000
Subtraction       -80.0        90.0     8.000000
Multiplication      0.0         0.0  8820.000000
Division            0.0         inf     1.088889

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.nan, 'Literature':90, 'Math':98})
student2 = pd.Series({'Math':90, 'English':'80'})

student2 = pd.to_numeric(student2, errors='coerce')

sr_add = student1.add(student2, fill_value = 0)                                          # 결과의 정황상 np.nan 도 0 으로 치환됐고,  Literature 의 없는 값도 0으로 채워짐(fill_value)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])
print(sr_result)

                English  Literature         Math
Addition           80.0        90.0   188.000000
Subtraction       -80.0        90.0     8.000000
Multiplication      0.0         0.0  8820.000000
Division            0.0         inf     1.088889

#⤵️ 💣💣💣 🐥 🐣 🐤

# <font color = 'red'> **Trial2: When you omit to_numeric(instobj, errors='coerce'), SyntaxError occurs! 💣**

# 이 밑에는 지금 에러가 나는 이유가 errors='coerce' 가 없기 때문에 에러가 난다. 이점 유의하기!!!!!!!!!!!!

# fill_value = 0 을 쓸거면 errors='coerce'를 꼭 먼저 쓰고 그 다음에 fill_value = 0을 써야함.

In [ ]:
#Trial2: When you omit to_numeric(instobj, errors='coerce'), SyntaxError occurs!

import pandas as pd
import numpy as np

student1 = pd.Series({'English':np.NaN, 'Literature':90, 'Math':98})  # student2 = pd.to_numeric(student2, errors='coerce') :여기에는 이 코드가 없어서 에러가 남. errors = 'coerce'가 꼭 있어야지 돌아감.
student2 = pd.Series({'Math':90, 'English':'80'})

sr_add = student1.add(student2, fill_value = 0)
sr_sub = student1.sub(student2, fill_value = 0)
sr_mul = student1.mul(student2, fill_value = 0)
sr_div = student1.div(student2, fill_value = 0)

sr_result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ["Addition", "Subtraction", "Multiplication", "Division"])
print(sr_result)

AttributeError: `np.NaN` was removed in the NumPy 2.0 release. Use `np.nan` instead.

#**6️⃣ 데이터프레임 + 숫자**

seaborn 내장 데이터 세트
p.053 footnote

🔵 The **sns.load_dataset()** function is part of the Seaborn library (sns), which is commonly used for **_data visualization in Python_**. <font color = 'blue'>When you call sns.load_dataset('titanic'), it loads the Titanic dataset from the online repository provided by Seaborn.</font>

🔴 The Titanic dataset contains information about passengers aboard the Titanic, such as their **age, fare, class, and survival status**. It is a popular dataset often used for data analysis and visualization exercises.


The sns.load_dataset() function loads the Titanic dataset and returns a Pandas DataFrame.

The selected columns are stored in the DataFrame df.
Number 10 is added to each element in the DataFrame df using the + operator, creating a new DataFrame addition.
The first few rows of both df and addition are printed, along with their respective types (DataFrame).

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]

# Check if the original data has more than 5 rows
if len(df) > 5:           # age와 fare 칼럼을 대상으로 했을때 5행 초과이면
    # If the condition is met, print all data points for fare and age
    print("All data points for fare and age:")
    print(df)
else:             #행이 5행 미만일 경우
    # If the condition is not met, print a message indicating insufficient data
    print("Insufficient data: Original data has 5 or fewer rows.")

print('\n')

All data points for fare and age:
      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

### ⬆️ Continued⬇️

In [ ]:
#데이터 프레임의 종류가 무엇인지 알아보기 위해서 Type 함수를 사용
print('Type of DataFrame:', type(df))
print(df)
print('\n')

add=df+10         #df에 +10  즉, 데이터 프레임화 되어있는 거에다 각 셀마다 10을 더하겠다.
print("DataFrame after adding 10 to each element")           #안내문자 : "각 요소에 10을 더한 후의 데이터프레임"
print(add)
print('\n')

print("Type of new DataFrame:", type(add))   #10을 더한 새로운 데이터 프레임의 타입이 뭔지 알아보기 위해

In [ ]:
print("Type of DataFrame:", type(df))     #데이터프레임의 종류가 무엇인지 알아보기 위해서 Type 함수를 사용
print(df)      #오리지널 데이터
print('\n')

add=df+10             #어떤 때 유용하냐: 보정값
print("DataFrame after adding 10 to each element")  #"각 요소에 10을 더한 후의 데이터프레임"
print(add)
print('\n')

print("Type of new DataFrame:", type(add))

Type of DataFrame: <class 'pandas.core.frame.DataFrame'>
      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]


DataFrame after adding 10 to each element
      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]


Type of new DataFrame: <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Check the type of the DataFrame
print("Type of DataFrame:", type(df))
print('\n')

# Add 10 to each element in the DataFrame
addition = df + 10
print("DataFrame after adding 10 to each element:")
print(addition)
print('\n')

# Check the type of the new DataFrame
print("Type of new DataFrame:", type(addition))

Type of DataFrame: <class 'pandas.core.frame.DataFrame'>


DataFrame after adding 10 to each element:
      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]


Type of new DataFrame: <class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')   # 여기 타이타닉을 가지고 올것임.
df = titanic.loc[:, ['age', 'fare']]

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df)
print('\n')

print(df.head(3))
print('\n')

print(df.tail(5))
print('\n')

print(type(df))
print('\n')
print(len(df))

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]


    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250


      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


891

In [ ]:
import pandas as pd #The pd alias is used for the Pandas library, which is commonly used for data manipulation and analysis.
import seaborn as sns

titanic = sns.load_dataset('titanic') #The sns.load_dataset() function loads the Titanic dataset and returns a Pandas DataFrame.
df = titanic.loc[:, ['age', 'fare']] #The .loc[] method is used to select specific columns ('age' and 'fare') from the DataFrame.

print(df.head()) #The defaut number is set to 5.
print('\n')

print(df.tail()) #The defaut number is set to 5.
print('\n')

print(type(df))
print('\n')

#More efficient way to check out the data size
print(len(df))
print('\n')

#Try to print 300 people's data. You will know it deos not show everything...
print(df.head(300))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


891


      age      fare
0    22.0    7.2500
1    38.0   71.2833
2    26.0    7.9250
3    35.0   53.1000
4    35.0    8.0500
..    ...       ...
295   NaN   27.7208
296  23.5    7.2292
297   2.0  151.5500
298   NaN   30.5000
299  50.0  247.5208

[300 rows x 2 columns]

## 7️⃣  💊 You will be able to check out all data points by saving the DataFrame of titanic data to a **xlxs** format of an **csv** format.
- 📌 Saving the DataFrame to csv has an advantage, since you can immediately check out all data points without leaving colab. Just double click your csv file under your file directory on the colab.

In [ ]:
df.index = ['row_'+ str(i) for i in range(len(df))]
print(df)

          age     fare
row_0    22.0   7.2500
row_1    38.0  71.2833
row_2    26.0   7.9250
row_3    35.0  53.1000
row_4    35.0   8.0500
...       ...      ...
row_886  27.0  13.0000
row_887  19.0  30.0000
row_888   NaN  23.4500
row_889  26.0  30.0000
row_890  32.0   7.7500

[891 rows x 2 columns]

In [ ]:
df.index = ['row_' + str(i) for i in range(len(df))]
print(df)

          age     fare
row_0    22.0   7.2500
row_1    38.0  71.2833
row_2    26.0   7.9250
row_3    35.0  53.1000
row_4    35.0   8.0500
...       ...      ...
row_886  27.0  13.0000
row_887  19.0  30.0000
row_888   NaN  23.4500
row_889  26.0  30.0000
row_890  32.0   7.7500

[891 rows x 2 columns]

In [ ]:
df.index = ['row_' + str(i) for i in range(len(df))]

df.head(891).to_excel("titanic_age_fare_windex.xlsx", index=True)
df.head(891).to_excel("titanic_age_fare_windex.xlsx", index=False)

df.to_excel("titanic1_age_fare_windex.xlsx", index=True)
df.to_excel("titanic1_age_fare_woindex.xlsx", index=False)

df.head(891).to_csv("titanic_age_fare_windex.csv", index=True)
df.head(891).to_csv("titanic_age_fare_woindex.csv", index=False)

df.to_csv("titanic1_age_fare_windex.csv", index=True)  #기본형. 그냥 df라고 해서 그냥 원래 갖고 있는 891개의 행으로 이루어진 데이터에 대해서 그냥 df로 그대로 온전하게 갖고와서 그대로 엑셀로 저장하는 방법이 있다.
df.to_csv("titanic1_age_fare_woindex.csv", index=False)

# CSV 파일은 그냥 더블클릭

In [ ]:
# Set a custom index to distinguish clearly. It only affects .xlxs format, not .csv format.
df.index = ['row_' + str(i) for i in range(len(df))]            #인덱스 네이밍

# 🐹 Save the DataFrame of titanic data to an updated excel (.xlxs) format
df.head(891).to_excel("titanic_age_fare_windex.xlsx", index=True)     #엑셀 형태로
df.head(891).to_excel("titanic_age_fare_woindex.xlsx", index=False)

#🐾 Alternatively, you can also use the following codelines without the head()function.
df.to_excel("titanic1_age_fare_windex.xlsx", index=True)
df.to_excel("titanic1_age_fare_woindex.xlsx", index=False)



# 🐹 You will be able to check out all data points by saving the DataFrame of titanic data to a xlxs format of an csv format
df.head(891).to_csv("titanic_age_fare_windex.csv", index=True)
df.head(891).to_csv("titanic_age_fare_woindex.csv", index=False)

#🐾 Alternatively, you can also use the following codelines without the head()function.
df.to_csv("titanic_age_fare_windex.csv", index=True)
df.to_csv("titanic_age_fare_windex.csv", index=False)

## 8️⃣ 🏀 ⚽ More on operations with dataframes.
- e.g., DataFrame operators(+ - * /) DataFrame

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.tail())    # df.tail()에 숫자를 지정을 안하면 기본값으로 5개의 행이 보인다.
print('\n')
print(type(df))

addition = df+10
print(addition.tail())
print('\n')
print(type(addition))
print('\n')

subtraction = addition - df    #데이터 프레임끼리 다시 연산
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>
      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.tail())
print('\n')
print(type(df))

#데이터프레임에 숫자 10 더하기
addition = df +10
print(addition.tail())
print('\n')
print(type(addition))
print('\n')

#데이터프레임끼리 연산하기
subtraction = addition - df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>
      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>

## 9️⃣ 🌺 More data from Seaborn
- <font color = 'red'> **iris**
  - This dataset contains measurements of various features of iris flowers, including sepal length, sepal width, petal length, and petal width.
  - It consists of 150 observations of iris flowers, with 50 observations for each of the three species: setosa, versicolor, and virginica.
  - The dataset is commonly used for tasks such as classification and clustering.

- <font color = 'red'> **tips**
  - The tips dataset contains information about tips given by restaurant customers.
  - It includes the total bill, the tip amount, the gender of the customer, whether they are smokers, the day of the week, and the time of day (lunch or dinner).
  - This dataset is often used for analyzing tipping behavior and exploring relationships between tipping and other variables.

- <font color = 'red'> **mpg**
  - This dataset contains information about fuel economy (mpg for _miles per gallon_) for various cars.
  - It includes features such as the number of cylinders, horsepower, weight, acceleration, model year, origin (American, European, or Japanese), and the name of the car.
  - The dataset is commonly used for exploring factors affecting fuel efficiency and building predictive models for mpg.

- <font color = 'red'> **flights**
  - The flights dataset contains information about flights departing from airports in the United States in the year 2014.
  - It includes features such as the date of the flight, the airline, the origin and destination airports, and the number of passengers.
  - This dataset is often used for analyzing flight patterns, seasonal trends, and airline performance.

- <font color = 'red'> **exercise**
  - This dataset contains information about the performance of subjects in a fitness program.
  - It includes features such as the subject's age, sex, weight, heart rate, and the type of exercise performed (either 'rest', 'walking', or 'running').
  - The dataset is commonly used for studying the effects of exercise on various health metrics and for analyzing individual fitness progress over time.

In [ ]:
import seaborn as sns

iris = sns.load_dataset('iris')

In [ ]:
import seaborn as sns

# Load the iris dataset
iris = sns.load_dataset('iris')

# Load the tips dataset
tips = sns.load_dataset('tips')

# Load the mpg dataset
mpg = sns.load_dataset('mpg')

# Load the flights dataset
flights = sns.load_dataset('flights')

# Load the exercise dataset
exercise = sns.load_dataset('exercise')

## 🔟 🐝 You connect Zoom first and do your exercise with the flights dataframe of Seaborn and try to generate a _csv_ file.

In [ ]:
#@markdown ### 🍄 Instructor's activity with the flights data frame of Seaborn

import pandas as pd
import seaborn as sns
flights = sns.load_dataset('flights')
df = pd.DataFrame(flights)
print(df)
print('\n')
print(len(df))
print('\n')

df.to_excel("flights1_year_month_passengers_windex.xlsx", index=True)   # df를 갖다가 이제 엑셀과 csv로 저장을 할건데
df.to_csv("flights1_year_month_passengers_windex.csv", index=True)

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]


144

In [ ]:
df.to_excel("flights1_year_month_passengers.xlsx", index=True)

👀 Some notes wrt codelines I used above.

1. I use the len() function to get the size info.
2. Instead of add the head() method after object df, I only used object df to generate a csv file with .to_csv() method.