<a href="https://colab.research.google.com/github/kmj122/stats_2025/blob/main/6_read_write_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Read files in various formats**

- <font color = 'red'> read_FILEFORMAT()fuction
  - csv
  - json
  - html
  - clipboard
  - excel
  - hdf
  - sql

###**Write files in various formats**
- <font color = 'blue'> 00.to_FILEFORMAT("")method
  - csv
  - json
  - html
  - clipboard
  - excel
  - hdf
  - sql

pp.058-062 (cf., 옵션 설명 표는 책 참조)

[공공데이터포털](https://www.data.go.kr/)
- csv, xlxs 등의 자료를 다운로드 받을 수 있는 대한민국 공식 전자정부 누리집

# 1️⃣ 🐹🐾 **Cloning github repository**

여기서는 git(github의 git)쓰고, clone(복제하다) 이렇게 우리가 데이터를 다룰 때, github repository 에 들어가 있는 데이터들은 사용자에 따라 굉장히 많을 수 있다. 예를 들어, 이러한 스크립트 외에 엑셀 데이터나 csv데이터나 이런 것들을 포함할 수 있으니까 이걸 직접 갖고 올 수 있는 방법에는 그쪽으로 가서 그 사람의 갖고 있는 파일들을 내가 한 개, 한 개 다운로드 받아서 갖고 오는게 가장 일반적이다. 근데 다운로드 하려면 내 컴퓨터에 받아야 함. 그 다음에 그걸 작업하려면 콜랩노트북에 이 환경에 업로드를 해야함. 그럼 단계가 지금 적어도 2개이다. 만약에 파일이 여러개면 그리고 폴더가 여러군데로 나뉘어져 있으면 더 복잡해짐. 그래서 이때 사용할 수 있는 건 통째로 갖고 오는 것이다. 다른 사람이 작업해놓은걸 통째로 갖고오는 것임. 통째로 갖고와서 내것인양 복제를 해놓고 콜랩환경에서 사용함.

그 사용하는 명령어가 !git clone " " 해서 문자열로 처리하는 것은 중요!!!!!!!

파일명이나 url 같은 경우는 문자열 처리

성공적으로 복제했는지 확인하려면 파일 아이콘을 클릭하면 뜰것임. 겁데기만 온것이 아니고 알맹이까지 다 같이 옴.

In [ ]:
!git clone 'https://github.com/ms624atyale/Pandas_Stats_Data_Analysis_2025'

In [ ]:
!git clone 'https://github.com/ms624atyale/Pandas_Stats_Data_Analysis_2025'

Cloning into 'Pandas_Stats_Data_Analysis_2025'...
remote: Enumerating objects: 424, done.
remote: Counting objects: 100% (121/121), done.
remote: Compressing objects: 100% (54/54), done.
remote: Total 424 (delta 98), reused 65 (delta 65), pack-reused 303 (from 1)
Receiving objects: 100% (424/424), 4.76 MiB | 5.51 MiB/s, done.
Resolving deltas: 100% (232/232), done.

In [ ]:
!git clone 'https://github.com/ms624atyale/Pandas_Stats_Data_Analysis_2025'

Cloning into 'Pandas_Stats_Data_Analysis_2025'...
remote: Enumerating objects: 374, done.
remote: Counting objects: 100% (234/234), done.
remote: Compressing objects: 100% (181/181), done.
remote: Total 374 (delta 122), reused 110 (delta 53), pack-reused 140 (from 1)
Receiving objects: 100% (374/374), 3.24 MiB | 19.89 MiB/s, done.
Resolving deltas: 100% (205/205), done.

#🐹🐾**Reading data**

###**<font color = 'red'> 🐹🐾 Read the csv format**

In [ ]:
import pandas as pd

file = '/content/Pandas_Stats_Data_Analysis_2025/sample.csv'
df1 = pd.read_csv(file)
df1

   test1  test2  test3
0      1      4      7
1      2      5      8
2      3      6      9

In [ ]:
import pandas as pd

file = '/content/Pandas_Stats_Data_Analysis_2025/sample.csv'
df1 = pd.read_csv(file)
print(df1)

   test1  test2  test3
0      1      4      7
1      2      5      8
2      3      6      9

In [ ]:
# csv (comma separated values) format

import pandas as pd

#file directory
file = "/content/Pandas_Stats_Data_Analysis_2025/sample.csv"

#read_csv() function으ㄹ 사용하여 데이터프레임 변환
df1 = pd.read_csv(file)
print(df1)
print('\n')

   test1  test2  test3
0      1      4      7
1      2      5      8
2      3      6      9

###**<font color = 'red'> 🐹🐾 Read the excel format**
- use element (engine = 'openpyxl') for .xlsx
- use element (engine = 'xlrd') for .xls

In [ ]:
import pandas as pd

df1 = pd.read_excel('/content/Pandas_Stats_Data_Analysis_2025/남북한발전전력량.xlsx', engine = 'openpyxl')
df1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
import pandas as pd

df1 = pd.read_excel('/content/Pandas_Stats_Data_Analysis_2025/남북한발전전력량.xlsx', engine = 'openpyxl')
df2 = pd.read_excel('/content/Pandas_Stats_Data_Analysis_2025/남북한발전전력량.xlsx', engine = 'openpyxl', header = None)

print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [ ]:
import pandas as pd
df1 = pd.read_excel("/content/Pandas_Stats_Data_Analysis_2025/남북한발전전력량.xlsx", engine = 'openpyxl') #header = 0 (by default)
df2 = pd.read_excel("/content/Pandas_Stats_Data_Analysis_2025/남북한발전전력량.xlsx", engine = 'openpyxl', header = None) #header unapplied

print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

###**<font color = 'red'> 🐹🐾 Read the html format**
- visit a webpage.
 - e.g., google.com ➡️ hold <CONTROL> + Click ➡️ save as <Google> with the format of <Webpage, HTML Only> ➡️ hit Upload ➡️ select the <Google.html>
>
- [정보문화사 파이썬 머신러닝 판다스 데이터 분석](http://www.infopub.co.kr/new/include/detail.asp?sku=05000266) ➡️ 샘플자료 다운로드 (우측 하단)

In [ ]:
import pandas as pd

url = '/content/Pandas_Stats_Data_Analysis_2025/sample.html'

tables = pd.read_html(url)   #경로할당 한 걸 인자로 넣기
print(len(tables))
print('\n')

for i in range(len(tables)):
  print('tables[%s]' %i)
  print('\n')


df = tables[i]
df.set_index(['name'], inplace = True)
print(df)

2


tables[0]


tables[1]


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [ ]:
import pandas as pd

url = "/content/Pandas_Stats_Data_Analysis_2025/sample.html"

#html 웹페이지의 표를 가져와서 데이터프레임으로 변환
tables = pd.read_html(url)

#표 개수 확인
print(len(tables))
print('\n')

#표 리스트의 원소를 반복하면서 (interating the element of the table list) 화면 출력
for i in range(len(tables)):
  print("tables[%s]" %i)
  print(tables[i])
  print('\n')

#파이썬 패키지 정보가 들어 있는 두 번째 데이터프레임을 선택하여 df 변수에 저장
df = tables[i]

#name 열을 인덱스로 저장
df.set_index(['name'], inplace = True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

#🐹🐾**Saving data**

###🐹🐾<font color = 'blue'> **Write as the csv format**

In [ ]:
#saving as csv format

import pandas as pd

#판다스 DataFrame()함수로 데이터프레임 변환한 것을 변수로 할당

data = {'name': ['Emma', "Sean", "Witney"],
        'algol': ['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'c++': ['B+','C', 'C+'],
}
df = pd.DataFrame(data)
df.set_index('name', inplace=True) #name 열을 인덱스로 지정
#df.set_index('c++', inplace=True) #c++ 열을 인덱스로 지정
print(df)

df.to_csv("./df_sample.csv") #csv file saved in the <sample_data> directory of Colab

       algol basic c++
name
Emma       A     C  B+
Sean      A+     B   C
Witney     B    B+  C+

###🐹🐾<font color = 'blue'> **Write as the excel format**

In [ ]:
import pandas as pd

#data변수에 사전형 데이터로 자료를 정리
data = {'name': ['Emily', 'Andy', 'John'],
        'c++':['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'JAVA': ['B+', 'C', 'C+']
        }

#Pandas DataFrame()function을 사용하여 데이터프레임 변환하여 이를 df 변수에 할당
df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

df.to_excel('./df_sample.xlsx')

      c++ basic JAVA
name
Emily   A     C   B+
Andy   A+     B    C
John    B    B+   C+

###🐹🐾<font color = 'blue'> **Write as the excel format after combining multiple data frames**

In [ ]:
#여러개의 excel 파일을 파일 하나로 저장하기

import pandas as pd

data1 = {'name': ['Emily', 'Andy', 'John'],
        'c++':['A', 'A+', 'B'],
        'basic': ['C', 'B', 'B+'],
        'JAVA': ['B+', 'C', 'C+']
        }

data2 = {'c0':[1,2,3],
         'c1':[4,5,6],
         'c2':[7,8,9],
         'c3':[10,11,12],
         'c4':[13,14,15]
         }

df1=pd.DataFrame(data1)
df1.set_index('name', inplace=True)
print(df1)
print('\n')

df2=pd.DataFrame(data2)
df2.set_index('c0', inplace=True)
print(df2)

#df1을 sheet1으로, df2를 sheet2로 저장. 파일명은 df_excelwriter.xlsx 로 해본다.

writer = pd.ExcelWriter("./df_excelwriter.xlsx")

df1.to_excel(writer, sheet_name = 'grading')
df2.to_excel(writer, sheet_name='numbers')
writer.close() #To address this, you can use the writer.close() method instead of save(). This will properly close the Excel file and ensure that all the data is saved.

      c++ basic JAVA
name
Emily   A     C   B+
Andy   A+     B    C
John    B    B+   C+


    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15